/* about.css */

body {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: left;
}

section {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.profile-card {
    width: 250px; /* Fixed width for the profile card */
    margin: 20px auto; /* Center horizontally */
}

img {
    width: 100%; /* Ensure the image fits within its container */
}