/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    flex: 1;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-size: 18px;
    text-align: center;
    margin: 70px 0;
}

h2 {
    color: #000000;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.profile-card {
    width: 100%;
    margin-top: 10px; /* Top margin added */
}

img {
    width: 100%; /* Ensure the image fits within its container */
}

.container {
    display: flex;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 150px;
    margin: 0px;
    padding: 5px;
    font-size: medium;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    margin-top: 10px 0;
}

.profile-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
}

footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 10px 0;
}